.popup {
  --duration: .33s;
  position: fixed;
  inset: 0;
  transition: opacity var(--duration);
  z-index: 2;
}

.popup.hidden {
  pointer-events: none;
  opacity: 0;
}

.popup .backdrop {
  background: #12123255;
  position: absolute;
  inset: 0;
}

.popup .container {
  position: absolute;
  top: -100vh;
  left: 50%;
  transform: translateX(-50%);
  transition: transform var(--duration);
  padding: 1rem;
}

.popup .container::-webkit-scrollbar {
  display: none;
}

.popup.shown .container {
  transform: translate(-50%, calc(150vh - 50%));
}
